# Ignore mac hidden file
.DS_Store
# Ignore quilt patch cache
.pc
#ignore test data
lsregistrationdaemon/perfsonar-lsregistrationdaemon/t/test_data/*
#ignore vagrant data
lsregistrationdaemon/perfsonar-lsregistrationdaemon/.vagrant
lsregistrationdaemon/perfsonar-lsregistrationdaemon/vagrant-data
lsregistrationdaemon/unibuild-work
lsregistrationdaemon/unibuild-log
unibuild-log
unibuild-repo/
