[Unit]
Description=perfSONAR Lookup Service Registration Daemon
After=network.target

[Service]
Type=forking
PIDFile=/var/run/lsregistrationdaemon.pid
ExecStart=/usr/lib/perfsonar/bin/lsregistrationdaemon.pl --config=/etc/perfsonar/lsregistrationdaemon.conf --logger=/etc/perfsonar/lsregistrationdaemon-logger.conf --user=perfsonar --group=perfsonar

[Install]
WantedBy=multi-user.target
