[Unit]
Description=perfSONAR Lookup Service Registration Daemon
After=network.target

[Service]
Type=exec
ExecStart=/usr/lib/perfsonar/bin/lsregistrationdaemon.pl --config=/etc/perfsonar/lsregistrationdaemon.conf --logger=/etc/perfsonar/lsregistrationdaemon-logger.conf
User=perfsonar
Group=perfsonar
Restart=always
RestartSec=30s

[Install]
WantedBy=multi-user.target
