Source: perfsonar-lsregistrationdaemon
Section: misc
Priority: extra
Maintainer: Antoine Delvaux <adelvaux@man.poznan.pl>
Build-Depends: debhelper (>= 9.0.0), perl, quilt, procps, net-tools,
 libdbi-perl, libconfig-general-perl, libsocket6-perl, libdbd-sqlite3-perl,
 libsys-meminfo-perl, libio-socket-inet6-perl, libtest-log4perl-perl,
 libperfsonar-perl, libperfsonar-esmond-perl, libperfsonar-sls-perl,
 libperfsonar-toolkit-perl
Standards-Version: 3.9.3
Homepage: http://www.perfsonar.net
Vcs-Git: https://github.com/perfsonar/ls-registration-daemon.git
Vcs-Browser: https://github.com/perfsonar/ls-registration-daemon/tree/debian/wheezy

Package: perfsonar-lsregistrationdaemon
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, perfsonar-common, libperfsonar-perl,
 libperfsonar-esmond-perl, libperfsonar-sls-perl, libperfsonar-toolkit-perl,
 libsys-meminfo-perl, libio-socket-inet6-perl, liblog-dispatch-filerotate-perl,
 libdbd-sqlite3-perl, libnet-ping-external-perl
Description: perfSONAR LS Registration Daemon
 The perfSONAR LS Registration Daemon allows networks to register their
 BWCTL, OWAMP, NDT, NPAD and Phoebus services with a perfSONAR-PS Lookup
 Service. This allows interested clients to search for and find the network's
 services.
