Source: perfsonar-lsregistrationdaemon
Section: misc
Priority: extra
Maintainer: Antoine Delvaux <antoine.delvaux@dante.net>
Build-Depends: debhelper (>= 9.0.0), dh-exec, perl, quilt
Standards-Version: 3.9.3
Homepage: http://www.perfsonar.net
Vcs-Git: https://code.google.com/p/perfsonar-ps/
Vcs-Browser: https://code.google.com/p/perfsonar-ps/source/browse?repo=default

Package: perfsonar-lsregistrationdaemon
Architecture: any
Depends: ${misc:Depends}, ${perl:Depends}, perfsonar-common, libperfsonar-perl, libperfsonar-sls-perl, libsys-statistics-linux-perl, libio-socket-inet6-perl, liblog-dispatch-filerotate-perl, libdbd-sqlite3-perl, libnet-ping-external-perl
Description: perfSONAR LS Registration Daemon
 The perfSONAR LS Registration Daemon allows networks to register their
 BWCTL, OWAMP, NDT, NPAD and Phoebus services with a perfSONAR-PS Lookup
 Service. This allows interested clients to search for and find the network's
 services.
