#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --with quilt
override_dh_quilt_patch:
	dh_quilt_patch
	[ -f bin/ls_registration_daemon.pl ] || mv bin/daemon.pl bin/ls_registration_daemon.pl
override_dh_quilt_unpatch:
	[ -f bin/daemon.pl ] || mv bin/ls_registration_daemon.pl bin/daemon.pl
	dh_quilt_unpatch

